



<div th:fragment="newHeader">
<nav class="nHeader">
<ul>
		<li>
			<a href="/coffee">Головна</a>
		</li>
		<li style="float: right;" class="dropdown">
			<a  href="javascript:void(0)" class="dropbtn">Тип кави</a>
		<div class="dropdown-content">
			<a class="coffee" href="/coffee/capsules">Кава в капсулах</a>
		
			<a class="coffee" href="/coffee/ground">Кава мелена</a>
		
			<a class="coffee" href="/coffee/zerno">Кава в зернах</a>
		</div>
		</li>
		<li>
			<a href="/history">Історія кави</a>
		</li>
	
		<li>
			<a href="http://eurocoffee.com.ua/coffee">Магазин</a>
		</li>
		</ul>
</nav>
</div>




